@model Usuarios

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/Register.css">
</head>
<body>

<div class="container">
    <div class="image-container">
        <img src="~/img/perro-paseando.jpg" alt="Imagen de perro y duenio">
    </div>
    
    <form id="registerForm" asp-action="Register" method="post">
        <h2>Registro</h2>
        
        <label for="username">Usuario</label>
        <input type="text" id="username" name="UserName" placeholder="Usuario" value="@Model.UserName" required>

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="Nombre" placeholder="Nombre" value="@Model.Nombre" required>

        <label for="email">Mail</label>
        <input type="email" id="email" name="Email" placeholder="Mail" value="@Model.Email" required>

        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="Telefono" placeholder="Teléfono" value="@Model.Telefono" required>

        <label for="contrasenia">Contraseña</label>
        <input type="password" id="contraseña" name="Contraseña" placeholder="Contraseña" required>

        <label for="confirmarContrasenia">Confirmar Contrasenia</label>
        <input type="password" id="contraseña2" name="ConfirmarContrasenia" placeholder="Confirmar Contrasenia" required>

        <button type="button" onclick="validarContrasenia()">Registrate</button>

        <input type="submit" value="registrarConSubmit">

        <a href="@Url.Action("Login", "Account")">¿Ya tienes una cuenta? Inicia Sesión</a>
    </form>
</div>
<script src="~/js/register.js"></script>
</body>
</html>
